.form-group-wrapper {
  margin-bottom: -12px;
}
.form-group {
  margin: 0 0 12px;
  padding: 0;
}

label {
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #949494;
}
.form-control {
  height: 30px;
  border-color: #c3c3c3;
  border-radius: 2px;
  box-shadow: inset none !important;
}
.form-control-static  {
  min-height: 18px;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.input-group {
  width: 100%;
}
.input-group .input-group-btn .btn {
  border-right-width: 0;
}

.input-holder {
  position: relative;
}
textarea.textarea-big {
  height: 101px;
}

.uib-daypicker:focus {outline: none !important;}


@include respond-to(xs) {
  .form-group-wrapper {
    margin-bottom: -17px;
  }
  .form-group {
    margin: 0 0 17px;
  }
  label {
    margin-bottom: 5px;
    font-size: 13px;
  }
  .form-control-static  {
    font-size: 14px;
  }
}

.inner-addon {
  overflow: hidden;
  position: relative;
  .addon {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    pointer-events: none;
  }
  &.addon-left {
    .addon {
      left: 0;
    }
    input {
      padding-left: 30px;
    }
  }
  &.addon-rigth {
    .addon {
      left: auto;
      right: 0;
    }
    input {
      padding-right: 30px;
    }
  }
}