$layout-breakpoint-xs:     480px;
$layout-breakpoint-sm:     768px;
$layout-breakpoint-md:     992px;
$layout-breakpoint-lg:     1200px;
$breakpoint-alpha:         480px; // Width where tables are stacked.
