/* Header */
@import 'colors';
@import 'utils';
@import 'dimensions';


header.navbar {
  background: #fff;
  padding: 19px 0 19px;
  margin: 0;
  line-height: 0;
  border: 0;
  > .container-fluid {
    padding-left: 25px;
    padding-right: 25px;
  }
  a.navbar-brand {
    margin-left: 0 !important;
    background: url('../assets/images/ripple-icon.png') no-repeat;
    background-size: auto 40px;
    height: 40px;
    padding-left: 50px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
    color: $header-color;
    white-space: nowrap;
    font-size: 30px;
    @media (min-width: 768px){
      background-size: auto 60px;
      height: 60px;
      padding-left: 70px;
      line-height: 60px;
    }
  }
  .navbar-nav.navbar-right {
    >li > a {
      font-size: 20px;
      &:hover, &:focus, &:active {
        background: #fff;
      }
    }
  }
  .glyphicon {
    color: #82BE36;
  }

}
.navbar-login {
  width: 305px;
  padding: 10px;
  hr {
    margin: 10px 0;
  }
  .profile {
    @include clearfix;
  }
  .profile__avatar {
    float: left;
    width: 80px;
    height: 80px;
    font-size: 60px;
    border: 1px solid #c0c2be;
    border-radius: 3px;
    background-color: #eef8e7;
    text-align: center;
    .glyphicon {
      margin-top: 8px;
    }
  }
  .profile__detail {
    padding: 0;
    margin: 0 10px 0 100px;
    li {
      display: block;
      line-height: 1em;
      margin: 5px 0;
    }
  }
}
