.user-panel {
  float: right;
  background: #f7f7f7;
  @include respond-to(xs) {
    padding-right: 14px;
  }
  & > li {
    float: left;
    &.open .btn-header,
    &.active .btn-header {
      background: #fff;
      color: #7cbe31;
      .count {display: none;}
    }
  }
}