<div class="transbox">
    <div class="innerTransbox">
        <h3><strong>Allergy</strong></h3>

        <div class="form-horizontal text-left">
            <div class="form-group">
                <label class="control-label col-md-12">Cause:</label>
                <div class="col-md-12">
                    <div class="form-control-static">{{ $ctrl.allergy.cause }}</div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Cause Code:</label>
                <div class="col-md-9">
                    <div class="form-control-static">{{ $ctrl.allergy.causeCode }}</div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-12">Reaction</label>
                <div class="col-md-12">
                    <div class="form-control-static">{{ $ctrl.allergy.reaction }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <span class="patientSummary-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="allergiesDetail-spinner" spinner-start-active="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Terminology:</label>
                <div class="col-md-9">
                    <div class="form-control-static">{{ $ctrl.allergy.causeTerminology }}</div>
                </div>
            </div>

            <div class="form-horizontal text-left">
                <div class="form-group">
                    <label class="control-label col-md-3">Author:</label>
                    <div class="col-md-9">
                        <div class="form-control-static">{{ $ctrl.allergy.author }}</div>
                    </div>
                </div>
            </div>

            <div class="form-horizontal text-left">
                <div class="form-group">
                    <label class="control-label col-md-3">Date Created:</label>
                    <div class="col-md-9">
                        <div class="form-control-static">{{ $ctrl.allergy.dateCreated | date:'y-MM-dd'}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Source:</label>
                <div class="col-md-9">
                    <div class="form-control-static">{{ $ctrl.allergy.source }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group text-right" ng-if="$ctrl.currentUser.permissions.indexOf('WRITE') !== -1">
    <button class="btn btn-info" ng-click="$ctrl.edit();"><i class="fa fa-pencil"></i> Edit</button>
</div>