.wrap-control-group {
  @include clearfix;
  &.hide-indent-bottom {margin-bottom: -5px;}
}
.control-group {
  &.right {
    float: right;
    margin-left: 5px;
  }
  &.left {
    float: left;
    margin-right: 5px;
  }
  &.left,
  &.right {
    & > * {float: left;}
  }
  &.center {
    font-size: 0;
    text-align: center;
  }
  & > * + * {
    margin-left: 5px;
  }
  &.with-indent > * {margin-bottom: 5px;}
}